.max-height {
  min-height: 100vh;
}
body {
  background: #ed145b;
  font-family: "Montserrat", sans-serif;
}
.quote-container {
  background: rgba(255, 255, 255, 1);
}
#generate-btn {
  color: white !important;
  background: #ed145b !important;
  border-color: #ed145b !important;
  cursor: pointer;
  font-size: 3rem;
  padding: 0.5rem 1rem;
  font-family: "Lobster", sans-serif;
}
#generate-btn:hover {
  background: #b09e99 !important;
  border-color: #b09e99 !important;
  color: white !important;
}
.author {
  color: #ed145b;
  font-family: "Lobster", sans-serif;
}
